* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #dff5ee, #b7e4d8);
}

nav {
  background-color: #ffffff;
  padding: 30px 35px;
  border-radius: 18px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
}

form p {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

label {
  font-size: 0.9rem;
  font-weight: 600;
  color: #555;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 14px;
  margin-top: 6px;
  margin-bottom: 18px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 0.9rem;
  transition: 0.3s;

  button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background-color: #6fbf9b;
    color: white;

    font-weight: 600;
  }
}
